:root {
    --main-font: "Roboto", sans-serif;
    --secondary-font: "Raleway", sans-serif;
    --white-background: #FFFFFF;
    --blue-accent: #2196F3;
    --grey-text: #757575;
    --black-logo: #000000;
    --black-title-text: #212121;
    --light-grey-background: #F5F4FA;
    --icon-grey-fill: #AFB1B8;
}

body {
    font-family: var(--main-font);
    background-color: var(--white-background);
    width: 100%;
    /* margin: 0px auto; */
}

* {
    margin: 0;
    padding: 0;
}

.section {
    padding: 94px 0px;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0px 15px;
}

/* header */

.header {
    box-sizing: border-box;
    height: 80px;
    border-bottom: 1px solid #ECECEC;
    margin-top: 0;
    display: flex;
    align-items: center;
}

.navigation-bar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.navigation-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 93px;
}

.header-logo {
    font-family: var(--secondary-font);
    color: var(--black-logo);
    font-size: 26px;
    font-weight: 700;
    line-height: 1.19;
    text-decoration: none;
    letter-spacing: 0.03em;
}

.in-logo {
    color: var(--blue-accent);
}

.main-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 46px;
}

.menu {
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--black-title-text)
}

.menu:hover,
.menu:focus {
    color: #2196F3;
}

.contact {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 30px;
}

.header-contact {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    text-decoration: none;
    gap: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--grey-text)
}

.header-contact:hover,
.header-contact:focus,
.header-contact:hover svg {
    color: #2196F3;
    fill: #2196F3;
}

.header-contact-icon {
    fill: #757575;
}

/* footer */

.footer {
    display: flex;
    flex-direction: row;
    background-color: #2F303A;
    padding: 60px 0;
}

.footer-content {
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 70px;
}
.footer-list {
    max-width: fit-content;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    /* margin-top: 60px; */
}

.link-logo-footer {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--white-background);
}

.web {
    color: var(--blue-accent);
}

.adress-footer {
    /* width: 246px; */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--white-background);
    margin-top: 20px;
}

.link-mail-footer {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--grey-text);
    margin-top: 9px;
}

.link-phone-footer {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em; 
    text-decoration: none;
    color: var(--grey-text);
    margin-top: 9px;
}

.social-links-footer {
    /* background-color: #2196F3; */
    width: 204px;
    height: 80px;
    /* margin-top: 72px;
    margin-left: 70px; */
    gap: 10px;
}
.social-links-footer-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-background);
    margin-bottom: 20px;
}
.social-links-footer-list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}

.social-links-footer-item {
    width: 44px;
    height: 44px;
    padding: 12px 12px 12px 12px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
}

.social-links-footer-item:hover,
.social-links-footer-item:focus {
    background-color: var(--blue-accent);
    cursor: pointer;
}

.social-links-footer-item-icon {
    fill: var(--white-background)
}

/* MAIN PAGE */
/* button with background */

.solutions {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                rgba(255, 255, 255, 0.1)), url(./../images/background-image.svg);
    background-size: cover;
    background-repeat: no-repeat;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 200px 0px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-solutions {
    color: var(--white-background);
    text-align: center;
    display: flex;
    justify-content: space-between;
    width: 671px;
    height: 120px;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    line-height: 60px;
    font-size: 44px;
    font-weight: 900;
    letter-spacing: 0.06em;
}

.service-button {
    color: var(--white-background);
    background-color: var(--blue-accent);
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.06em;
    padding: 10px 42px;   
    border: none;
    margin-top: 30px;
}

/* Strengths */

/* .section-strengths {
    width: 1170px;
    height: 251px;
    margin-top: 94px;
    margin-bottom: 94px;
    margin-left: 215px;
    margin-right: 215px;
} */

.strengths-list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    gap: 30px;
}

.strengths-item {
    box-sizing: border-box;
    width: 270px;
    height: 251px;
}

.strengths-icon-group {
    background-color: var(--light-grey-background);
    box-sizing: border-box;
    width: 270px;
    height: 120px;
    border-radius: 4px;
    padding: 25px 100px 25px 100px;
    margin-bottom: 30px;

}

.strengths-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--black-title-text);
    margin-bottom: 10px;
}

.strengths-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--grey-text);
}

/* scope */

.scope {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.scope-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align:center;
    letter-spacing: 0.03em;
    color: var(--black-title-text);
    margin-bottom: 50px;
}

.scope-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
}

/* team */

.team {
    background-color: #F5F4FA;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--black-title-text);
    margin-bottom: 50px;
}

.team-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.team-item {
    width: 270px;
    height: 428px;
    background-color: var(--white-background);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.title-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--black-title-text);
    margin: 30px 99px 10px 99px;
}

.text-position {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--grey-text);
    margin-bottom: 16px;
}

.team-list-social-links {
    width: 206px;
    height: 56px;
    margin: auto;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.team-item-social-links {
    width: 44px;
    height: 44px;
    padding: 12px 12px 12px 12px;
    border-radius: 50%;
    background-color: var(--white-background);
}

.team-item-social-links:hover,
.team-item-social-links:focus,
.team-item-social-links:hover svg {
    background-color: var(--blue-accent);
    fill: var(--white-background);
    cursor: pointer;
}

.social-links-card-item {
    fill: var(--icon-grey-fill);
}

/* our clients */
/* .clients {
    width: 1600px;
    height: 372px;
    padding: 94px 215px 94px 215px;
} */
/* .our-clients {
    width: 1170px;
    height: 184px;
} */

.our-clients-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--black-title-text);
    margin-bottom: 50px;
}

.our-clients-list {
    list-style-type: none;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
}

.our-clients-icon {
    box-sizing: border-box;
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    padding: 16px 32px 16px 32px;
}

.our-clients-icon-logo {
    fill: var(--icon-grey-fill);
}

.our-clients-icon:hover,
.our-clients-icon:focus {
    border: 1px solid var(--blue-accent);
    cursor: pointer;
    
}

.our-clients-icon:hover svg {
    fill: var(--blue-accent);
    cursor: pointer;
}

/* PORTFOLIO */
/* Buttons */

.filters-list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content:center;
    gap: 8px;
    /* width: 1600px;
    margin-top: 94px; */
    margin-bottom: 50px;
}

.button-filters {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    border-radius: 4px;
    padding: 6px 22px 6px 22px;
    background-color: var(--light-grey-background);
    cursor: pointer;
    border: none;
}

.button-filters:hover,
.button-filters:focus {
    color: var(--white-background);
    background-color: var(--blue-accent);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Portfolio */
.portfolio {
    box-sizing: border-box;
    background-color: red;
    /* width: 1170px; */
    /* height: 1360px; */
    /* margin-left: 215px;
    margin-right: 215px; */
}

.section-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 0;
}

.list-item {
    box-sizing: border-box;
    width: 370px;
    height: 404px;
    flex-basis: calc((100% - 60px)/3);
    border: 1px solid #EEEEEE;
}

.list-item:hover,
.list-item:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    cursor: pointer;
}

.portfolio-image {
    display: block;
}

.list-item-container {
   padding: 20px 24px 20px 24px;
}

.list-item-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: var(--black-title-text);
}

.list-item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: var(--grey-text);
}